@model LeHuuToan_2001206939_LTW.Models.Employee
@{
    ViewData["Title"] = "Bai1";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col" >Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Salary</th>

        </tr>
    </thead>
    <tbody>
       
         <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Address</td>
            <td>@Model.Salary</td>

         </tr>
       
    </tbody>
</table>